.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #ffffff;
}

.logo {
  font-size: 20px;
  font-weight: bold;
}

.user-dropdown {
  position: relative;
}

.user-profile {
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-right: 100px;
}

.profile-icon {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #001eb9;
  margin-right: 5px;
}

.username {
  font-size: 14px;
}
.dropdown {
  margin-right: 40px;
}

.dropdown-content {
  position: absolute;
  top: 100%;
  left: -10px;
  background-color: #fff;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  padding: 10px;
  min-width: 150px;
}

.dropdown-arrow {
  position: absolute;
  top: 12px;
  right: 10px;
  border: solid black;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 2px;
  transform: rotate(45deg);
  transition: transform 0.3s;
}

.dropdown-arrow.open {
  transform: rotate(-135deg);
}

.dropdown-content a {
  display: block;
  padding: 8px 10px;
  color: #333;
  text-decoration: none;
  font-size: 14px;
}

.dropdown-content a:hover {
  background-color: #f2f2f2;
}

.dropdown-content hr {
  margin: 5px 0;
  border: none;
  border-top: 1px solid #ccc;
}

.role-option {
  cursor: pointer;
}
.online-indicator {
  display: inline-block;
  width: 10px;
  height: 10px;
  background-color: green;
  border-radius: 50%;
  margin-left: 5px;
}

.dropdown-button {
  border: none;
  color: black;
  margin: 10px;
}
